<template>
  <div class="landingpage">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Navbar brand -->
          <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
              src="@/assets/image/lnulogo.svg"
              height="50"
              alt=""
              loading="lazy"
            />
          </a>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
    <!-- upper part-->
    <section class="home">
      <div class="container">
        <!-- End Upper Part-->
        <!-- Start Homebody-->
        <div class="homebody">
          <img src="../assets/image/undraw_podcast.svg" alt="" />
          <p>Announcement and</p>
          <p>Voting</p>
          <p>System</p>
          <b-button
            href="#"
            class="loginbtn"
            style="background: #0d3e83; border-radius: 169.5px"
            >Login
          </b-button>
        </div>
      </div>
    </section>

    <!-- End Home Section-->
    <!-- Start Voting Section-->

    <section class="voting-section">
      <div class="split">
        <div class="container">
          <div>
            <img
              src="../assets/image/undraw_voting.svg"
              class="img-fluid hover-shadow"
              alt=""
            />
          </div>
          <div class="voting--text">
            <h1>Voting</h1>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- End Voting Section-->
    <!-- Start Notification Section-->

    <section class="notif-section text-left">
      <div class="container">
        <div class="split">
          <div>
            <h1>Notifiaction</h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum,
              dignissimos!
            </p>
          </div>
          <div>
            <img
              src="../assets/image/undraw_notif.svg"
              class="img-fluid hover-shadow"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>

    <!-- End Notifiaction Section-->
    <!-- Start Footer Section-->

    <section class="footer">
      <div class="container container--narrow">
        <img
          src="../assets/image/lnufooter.svg"
          class="img-thumbnail"
          alt="..."
        />
        <div class="container">
          <div class="foot">
            <div class="row">
              <div class="col-sm">
                <h3 class="tagtag" style="color: #dbd9d9">CONTACT<br /></h3>
                <p>
                  Leyte Normal University
                  <br />Paterno Street <br />Tacloban City <br />6500 <br />+63
                  (53) 832 3205 <br />info@lnu.edu.ph
                  <br />www.facebook.com/lnuofficial
                </p>
              </div>
              <div class="col-sm">
                <h3 class="tagtag" style="color: #dbd9d9">About<br /></h3>
                <p>
                  Leyte Normal University or simply LNU <br />
                  is a public university in the Philippines
                </p>
              </div>
              <div class="col-sm">
                <h3 class="tagtag" style="color: #dbd9d9">Mission<br /></h3>
                <p>
                  To produce top performing professionals <br />
                  equiped to engage on knowledge and<br />
                  technology production so necessary <br />
                  to develop a sustainable society
                </p>
                <h3 class="tagtag" style="color: #dbd9d9">Vision<br /></h3>
                <p>
                  A leading university of education and <br />
                  diverse disciplines attuned to local <br />
                  and global development needs
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<style>
*,
*::before *::after {
  box-sizing: border-box;
}
@media (min-width: 100em) {
  .split {
    flex-direction: row;
  }
  .split > * {
    flex-basis: 100%;
  }
  .split > * + * {
    margin-left: 2em;
  }
}
.home {
  background: linear-gradient(
    239.74deg,
    #070372 31.58%,
    rgba(7, 3, 114, 0) 460.49%
  );
}
h1,
h3,
p {
  text-align: left;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

.voting-section,
.notif-section,
.home {
  padding: 4rem 0;
  @media (min-width: 40em) {
    header,
    section {
      padding: 3rem 0;
    }
  }
}
.container {
  margin-inline: auto;
  width: min(85%, 70rem);
}
.container--narrow {
  max-width: 40rem;
}
.split,
.split .container {
  display: flex;
}
</style>
